<p class="text-center">ようこそ、ながのCAKEへ！<br>
このサイトは、ケーキ販売のECサイトになります。
会員でない方も商品の閲覧はできますが、<br>
購入には会員登録が必要になります。
</p>

<div class="container new-item">
  <h2>新着商品</h2>
  <div class="row justify-content-around">
      <div class="col-2">
        <div class="form-group">
          <img src="https://via.placeholder.com/250x150">
          <p><strong>商品名</strong></p>
          <p><strong>￥0,000</strong></p>

        </div>
      </div>
      <div class="col-2">
        <div class="form-group">
          <img src="https://via.placeholder.com/250x150">
          <p><strong>商品名</strong></p>
          <p><strong>￥0,000</strong></p>
        </div>
      </div>
      <div class="col-2">
        <div class="form-group">
          <img src="https://via.placeholder.com/250x150">
          <p><strong>商品名</strong></p>
          <p><strong>￥0,000</strong></p>
        </div>
      </div>
      <div class="col-2">
        <div class="form-group">
          <img src="https://via.placeholder.com/250x150">
          <p><strong>商品名</strong></p>
          <p><strong>￥0,000</strong></p>
        </div>
      </div>
  </div>

  <div class="text-right">
    <div class="all-items-show-button"><%= link_to "全ての商品をみる>", items_path %>
  </div>
</div>